 * {
   font-family: 'Quicksand', sans-serif;
   font-size: 24px;
   ;
 }

 a {
   font-family: 'Quicksand', sans-serif;
 }

 p {
   font-family: 'Quicksand', sans-serif;
   font-size: 24px;
   font-weight: normal;
 }

 h1 {
   font-family: 'Ubuntu', sans-serif;
   font-weight: bolder;
   font-stretch: ultra-expanded;
   font-size: 32px;
   text-align: center;
   margin: 5px;
 }

 nav {
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
 }

 .card-text {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .card-title {
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   font-size: 24px;
 }
  

 body {
   background-color: aqua;
 }
.col-md-4{
  flex-flow: wrap;
}
#links{
  align-items: center;
}